.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  font-size: 18px;
  text-align: left;
  border-collapse: collapse;
  margin: 20px;
  width: 100%;
  max-width: 800px;
}
thead th{
  text-align: center;
}
th,
td {
  padding: 10px;
  border: 1px solid black;
}

th {
  font-weight: bold;
  /* background-color: #dce3ff; */
}

.updateprofile {
  margin: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 14px;
  }
}


