:root {
    --mainColor: #5271ff;
    --secondaryColor: #527fff;
    --textColor: #eee;
}

.main {
    padding: 10px;
    height: 100vh;
}

.layout {
    display: flex;
}

.sidebar {
    min-height: 95vh;
    width: 300px;
    border-radius: 5px;
    background-color: var(--mainColor);
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    color: white;
}

.logo {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.logo img {
    height: 100px;
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
    margin: auto;
}

.logo h1 {
    margin: 10px auto;
}

hr {
    border: 1px solid;
}

.menu-item p{
    color: white;
}

.content {
    width: 100%;
    height: 100%;
}

.body {
    min-height: 95vh;
    box-shadow: 0 0 2px gray;
    background-color: white;
}