@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #5271ff;
	--secondaryColor: #527fff;
	--textColor: #eee;
}

.footer_container{
    background-color: #527fff;
	display: flex;
	padding: 2rem 8rem;
    justify-content: space-between;
}
.link_lists h2 {
    margin-bottom: 10px;
    color: white;
}
.link_lists ul li{
	color: white;
	line-height: 1.8;
	max-width: 16rem;

}
.link_lists ul li a{
    font-size: 16px;
    margin-bottom: 5px;
	color: white;
	text-decoration: none;
}

.contact{
	list-style: none;
}
.icon_container {
    display: flex;
    gap: 15px;
    font-size: 32px;
}
.footer-bottom{
	display: flex;
	justify-content: space-between;
	background-color: #527fff;
	color: white;
	font-size: 15px;
	padding: 25px;
}