* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  :root {
	--mainColor: #5271ff;
	--secondaryColor: #527fff;
	--textColor: #eee;
  }
  
  header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: auto;
	padding: 0 5rem;
	background-color: var(--mainColor);
	color: var(--textColor);
  }
  
  header h2 {
	flex: 	1;
  }
  
  nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100vh;
	background-color: var(--mainColor);
	transition: all 0.3s ease-in-out;
  }
  
  nav.nav-active {
	right: 0;
  }
  
  nav a {
	display: block;
	margin: 0.5rem 0;
	padding: 1rem;
	color: var(--textColor);
	text-decoration: none;
	font-size: 1.2rem;
	transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
	background-color: var(--secondaryColor);
  }
  
  nav .nav-close-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	font-size: 1.8rem;
  }
  
  nav .nav-btn {
	display: none;
  }
  
  @media screen and (max-width: 1024px) {
	nav {
	  width: 70%;
	}
  
	nav a {
	  font-size: 1.5rem;
	}
  
	header .nav-btn {
	  display: block;
	  cursor: pointer;
	  background: transparent;
	  border: none;
	  outline: none;
	  color: var(--textColor);
	  font-size: 1.8rem;
	}
  
	nav .nav-btn {
	  display: block;
	  position: absolute;
	  top: 1rem;
	  right: 1rem;
	  cursor: pointer;
	  background: transparent;
	  border: none;
	  outline: none;
	  color: var(--textColor);
	  font-size: 1.8rem;
	}
  }
  
  @media screen and (min-width: 1025px) {
	header .nav-btn {
	  display: none;
	}
  
	nav {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  position: static;
	  width: auto;
	  height: auto;
	  background-color: transparent;
	  transition: none;
	}
  
	nav a {
	  margin: 0;
	  font-size: 1.2rem;
	}
  
	nav .nav-close-btn {
	  display: none;
	}
  }
  