.Homecontainer {
    width: 100%;
    max-width: 960px;
    margin: 50px auto;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #869bff;

    color:white;
    
  }
  
  .top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .tab img {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .tab h3 {
    margin: 0;
  }
  
  .tab.active {
    transform: translateY(-3px);
  }
  
  .bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bottom-section .content {
    display: none;
    margin-top: 2rem;
    text-align: center;
  }
  
  .bottom-section .content.active {
    display: block;
  }
  
/* new  */
  .tab-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tab-content-image {
    flex-basis: 50%;
    padding-right: 20px;
    margin-bottom: 30px;
  }
  
  .tab-content-image img {
    width: 90%;
    height: auto;
    
  }
  /* .tab-content-image4 img{
    width: 500px;
  } */
  .tab-content-image4 img{
    width:370px;
    height: 250px;
    margin: auto;
    margin-left: 40px;
  }
  
  .tab-content-text {
    flex-basis: 50%;
  }
  
  .tab-content-text p {
    font-size: 16px;
    line-height: 2;
    margin: 0;
  }