
.components {
  width: 80%;
  margin: 1rem auto;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  color: black;
  margin-top: 40px;
}

.top-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;

}


.tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  height: 14rem;
  width: 15rem;
  padding: 1rem;
  
}

.tab img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

.tab h3 {
  margin: auto;
  padding:0 2rem;
}

.tab:not(:last-child) {
  margin-right: 1rem;
}
.tab.active {
  transform: translateY(-3px);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2); 
}
.tab.hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-section .content {
  display: none;
  margin-top: 2rem;
  text-align: center;
}

.bottom-section .content.active {
  display: block;
}


.tab-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-content-image {
  flex-basis: 50%;
  padding-right: 20px;
  margin-bottom: 30px;
}

.tab-content-image img {
  width: 90%;
  height: auto;
}
.tab-content-text{
  margin-bottom: 20px;
}
.tab-content-image4 img {
  min-width: 450px;
  height: auto;
  margin: auto;
  margin-left: 40px;
  margin-top: 20px;
}

.tab-content-text {
  flex-basis: 50%;
}

.tab-content-text p {
  font-size: 16px;
  line-height: 2.5;
  margin: 0;
}
/* For screens smaller than 600px */
@media (max-width: 600px) {
  .top-section {
    flex-direction: column;
    margin: 1rem;
  }

  .tab {
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
  }

  .tab:not(:last-child) {
    margin-right: 0;
  }

  .tab-content-wrapper {
    flex-direction: column-reverse;
    text-align: center;
  }

  .tab-content-image {
    padding-right: 0;
    margin-bottom: 0;
  }

  .tab-content-image img {
    width: 100%;
  }

  .tab-content-image4 img {
    width: 100%;
    margin-left: 0;
  }
}

/* For screens larger than 600px */
@media (min-width: 601px) {
  .tab {
    height: 14rem;
    width: 15rem;
  }

  .tab:not(:last-child) {
    margin-right: 1rem;
  }

  .tab-content-wrapper {
    flex-direction: row;
    text-align: left;
  }

  .tab-content-image {
    flex-basis: 50%;
    padding-right: 20px;
    margin-bottom: 30px;
  }

  .tab-content-image img {
    width: 90%;
    height: auto;
  }

  .tab-content-image4 img {
    width: 370px;
    height: 300px;
    margin: auto;
    margin-left: 40px;
    margin-top: 20px;
  }

  .tab-content-text {
    flex-basis: 50%;
  }
}

/********************************************************************************************************8*/
.statistics {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f5f5f5;
  width: 80%;
}

.statistics h1 {
  margin-bottom: 20px;
}

.statistics > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.statistics > div > div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.statistics > div > div p {
  display: block;
  max-width: 13rem;
}

@media screen and (max-width: 767px) {
  .statistics > div > div {
    width: 100%;
  }
}

