.policy-page-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}

.policy-sidebar {
  display: flex;
  flex-direction: column;
  background-color: #eff2ff;
  width: 20%;
  padding: 10px;
  height: 90vh;
}

.policy-sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  height: 20vh;
}

.policy-sidebar-item:hover {
  background-color: #bdc9ff;
  color: black;
}

.policy-sidebar-item.selected {
  background-color: #5271ff;
  color: white;
}
.policy-sidebar-item h3{
  padding: 10px;
  font-size: 20px;
}
.policy-content {
  flex: 1;
  margin-left: 40px;
}
