:root {
    --mainColor: #5271ff;
    --secondaryColor: #527fff;
    --textColor: #eee;
}
.appointments-section{
    display: flex;
    flex-direction: column;
}
.blood-donation-section{
     display: flex;
    flex-direction: column;
}
.section-heading{
    padding-left: 10px;
}
.card{
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}
.card-section{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.card-title,
.card-subtitle {
  font-weight: bold;
  padding: 5px;
}
.card-text{
    padding: 5px;
    margin-bottom: 5px;
}
.btn-primary {
  background-color: var(--mainColor);
  color: #fff;
}
.btn-primary:hover{
    background-color: var(--secondaryColor);
}